body{
    background: url("");
    background-color: rgb(110, 107, 107);
    

}

.regform{
    width:500px;
    margin:250px auto;
    padding:10px 20px 30px;
    background-color: rgba(0, 0, 0, .5);
    color:white;
    font-size:30px;
    border-radius: 5px;
}

.regform h3{
    text-align: center;
    color:#E29578;
   
}

.regform  .text{
    display:block;
}

.input input{
    width:100%;
    font-size:1.5em;
    border: 1px solid #006d77;
    border-radius: 8px;
    padding 10px 10px;
    border-sizing:border-box;
    margin:5px 0px 15px;
}

input:focus{
    background-color: aquamarine;
}

.btn{
    text-align: center;
}

button{
    background-color: aqua;
    font-size: 30px;
    color:beige;
    margin-top: 20px;
    padding:15px 25px;
    border-radius:8px;
    border:1px solid blanchedalmond;
    box-shadow: 2px;
}

.radio input{
    accent-color: #83c5BE;
    transform:scale(1.5)
}


